In [2]:
import pandas as pd

In [3]:
oo = pd.read_csv('./olympics.csv', skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

### Series

In [4]:
oo['City']

0         Athens
1         Athens
2         Athens
3         Athens
4         Athens
5         Athens
6         Athens
7         Athens
8         Athens
9         Athens
10        Athens
11        Athens
12        Athens
13        Athens
14        Athens
15        Athens
16        Athens
17        Athens
18        Athens
19        Athens
20        Athens
21        Athens
22        Athens
23        Athens
24        Athens
25        Athens
26        Athens
27        Athens
28        Athens
29        Athens
          ...
29186    Beijing
29187    Beijing
29188    Beijing
29189    Beijing
29190    Beijing
29191    Beijing
29192    Beijing
29193    Beijing
29194    Beijing
29195    Beijing
29196    Beijing
29197    Beijing
29198    Beijing
29199    Beijing
29200    Beijing
29201    Beijing
29202    Beijing
29203    Beijing
29204    Beijing
29205    Beijing
29206    Beijing
29207    Beijing
29208    Beijing
29209    Beijing
29210    Beijing
29211    Beijing
29212    Beijing
29213    Beijing
29214    Beijing
29215    Beijing
Name: City, Length: 29216, dtype: object

In [5]:
oo.City

0         Athens
1         Athens
2         Athens
3         Athens
4         Athens
5         Athens
6         Athens
7         Athens
8         Athens
9         Athens
10        Athens
11        Athens
12        Athens
13        Athens
14        Athens
15        Athens
16        Athens
17        Athens
18        Athens
19        Athens
20        Athens
21        Athens
22        Athens
23        Athens
24        Athens
25        Athens
26        Athens
27        Athens
28        Athens
29        Athens
          ...
29186    Beijing
29187    Beijing
29188    Beijing
29189    Beijing
29190    Beijing
29191    Beijing
29192    Beijing
29193    Beijing
29194    Beijing
29195    Beijing
29196    Beijing
29197    Beijing
29198    Beijing
29199    Beijing
29200    Beijing
29201    Beijing
29202    Beijing
29203    Beijing
29204    Beijing
29205    Beijing
29206    Beijing
29207    Beijing
29208    Beijing
29209    Beijing
29210    Beijing
29211    Beijing
29212    Beijing
29213    Beijing
29214    Beijing
29215    Beijing
Name: City, Length: 29216, dtype: object

In [6]:
oo[['City','Edition','Athlete']]

          City  Edition                      Athlete
0       Athens     1896                HAJOS, Alfred
1       Athens     1896             HERSCHMANN, Otto
2       Athens     1896            DRIVAS, Dimitrios
3       Athens     1896           MALOKINIS, Ioannis
4       Athens     1896           CHASAPIS, Spiridon
5       Athens     1896        CHOROPHAS, Efstathios
6       Athens     1896                HAJOS, Alfred
7       Athens     1896             ANDREOU, Joannis
8       Athens     1896        CHOROPHAS, Efstathios
9       Athens     1896                NEUMANN, Paul
10      Athens     1896            PEPANOS, Antonios
11      Athens     1896                LANE, Francis
12      Athens     1896             SZOKOLYI, Alajos
13      Athens     1896                BURKE, Thomas
14      Athens     1896               HOFMANN, Fritz
15      Athens     1896               CURTIS, Thomas
16      Athens     1896           GOULDING, Grantley
17      Athens     1896            LERMUSIAUX, Albin
18      Athens     1896                 FLACK, Edwin
19      Athens     1896                BLAKE, Arthur
20      Athens     1896              GMELIN, Charles
21      Athens     1896                BURKE, Thomas
22      Athens     1896             JAMISON, Herbert
23      Athens     1896           GOLEMIS, Dimitrios
24      Athens     1896                 FLACK, Edwin
25      Athens     1896                 DANI, Nandor
26      Athens     1896             VERSIS, Sotirios
27      Athens     1896              GARRETT, Robert
28      Athens     1896  PARASKEVOPOULOS, Panagiotis
29      Athens     1896                CLARK, Ellery
...        ...      ...                          ...
29186  Beijing     2008             MUTALIMOV, Marid
29187  Beijing     2008              TAYMAZOV, Artur
29188  Beijing     2008          AKHMEDOV, Bakhtiyar
29189  Beijing     2008                AMOYAN, Roman
29190  Beijing     2008               PARK, Eun-Chul
29191  Beijing     2008               MANKIEV, Nazyr
29192  Beijing     2008            BAYRAMOV, Rovshan
29193  Beijing     2008        TENGIZBAYEV, Nurbakyt
29194  Beijing     2008           TIUMENBAEV, Ruslan
29195  Beijing     2008           ALBIEV, Islam-Beka
29196  Beijing     2008             RAHIMOV, Vitaliy
29197  Beijing     2008           SIAMIONAU, Mikhail
29198  Beijing     2008             VARDANYAN, Armen
29199  Beijing     2008               GUENOT, Steeve
29200  Beijing     2008           BEGALIEV, Kanatbek
29201  Beijing     2008           GUENOT, Christophe
29202  Beijing     2008              YANAKIEV, Yavor
29203  Beijing     2008          KVIRKELIA, Manuchar
29204  Beijing     2008             CHANG, Yongxiang
29205  Beijing     2008                AVLUCA, Nazmi
29206  Beijing     2008             MINGUZZI, Andrea
29207  Beijing     2008                FODOR, Zoltan
29208  Beijing     2008              MAMBETOV, Asset
29209  Beijing     2008                WHEELER, Adam
29210  Beijing     2008           KHUSHTOV, Aslanbek
29211  Beijing     2008               ENGLICH, Mirko
29212  Beijing     2008         MIZGAITIS, Mindaugas
29213  Beijing     2008              PATRIKEEV, Yuri
29214  Beijing     2008                LOPEZ, Mijain
29215  Beijing     2008               BAROEV, Khasan

[29216 rows x 3 columns]

### info()

In [8]:
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
City            29216 non-null object
Edition         29216 non-null int64
Sport           29216 non-null object
Discipline      29216 non-null object
Athlete         29216 non-null object
NOC             29216 non-null object
Gender          29216 non-null object
Event           29216 non-null object
Event_gender    29216 non-null object
Medal           29216 non-null object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB